#articleFormID .modalaction {margin-top:20px;margin-bottom:10px;}
//form#articleFormID .row {margin-top:10px;margin-bottom:10px;}
form#articleFormID .form-group {font-size:15px;}
form#articleFormID .form-group label {padding-left:10px;}
form#articleFormID .form-control {padding:5px 5px;font-size:14px;}
form#articleFormID .form-content {margin:0px 5px 10px 5px;width:100%;}
form#articleFormID .form-amount {width:100px;text-align:right;padding-right:5px;}
form#articleFormID .form-tax {width:50px;text-align:center;}
form#articleFormID .form-quantity {width:50px;}

.form-control-feedback {right:-23px;}