RewriteEngine On
RewriteBase /phprojekt.altervista.org/frameworkAPP/

# Don't compress images
SetEnvIfNoCase Request_URI \
\.(?:gif|jpe?g|png)$ no-gzip dont-vary

#Split the friendly URL and compose the real URL
RewriteRule ^(ajax|scripts|classes|css|images|include|js|templates|tmp|application) - [L]

#engine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?request=$1 [QSA,L]
