#articlePanelID .modalaction {margin-top:20px;margin-bottom:10px;}
#articlePanelID .row {margin-top:10px;margin-bottom:10px;}
#articlePanelID .form-group {margin-right:0px;margin-left:10px;font-size:15px;}
#articlePanelID .form-group label {padding-left:10px;}
#articlePanelID .form-control {padding:5px 5px;font-size:14px;}
#articlePanelID .form-content {margin:0px 5px 10px 5px;width:100%;}
#articlePanelID .form-amount {width:100px;text-align:right;padding-right:5px;margin-left:5px;}
#articlePanelID .form-tax {width:50px;text-align:center;margin-left:5px;}
#articlePanelID .form-quantity {width:50px;margin-left:5px;}

#articlePanelID .form-label-amount {margin-left:20px;}

#aaarticlePanelID .form-control-feedback {right:-23px;}
