<!-- invoices/formInvPur.html v.1.2.0. 14/08/2020 -->
<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>
<div class="card shadow mt-3 mb-4">
	<div class="card-body">	
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="formTab" role="tablist">

			<li class="nav-item">
				<a class="nav-link{% if App.tabActive == 1 %} active{% endif %}" href="#datibase" id="datibase-tab" aria-controls="datibase" aria-selected="true" data-toggle="tab">{{ LocalStrings['dati base']|capitalize }}</a>
			</li>
			{% if App.id > 0 %}
				<li class="nav-item">
					<a class="nav-link{% if App.tabActive == 2 %} active{% endif %}" href="#articles" id="articles-tab" aria-controls="articles" aria-selected="true" data-toggle="tab">{{ LocalStrings['articoli']|capitalize }}</a>
				</li>
			{% endif %}

			<li class="nav-item">
				<a class="nav-link" href="#anagrafica" id="anagrafica-tab" aria-controls="anagrafica" aria-selected="true" data-toggle="tab">{{ LocalStrings['anagrafica']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#options" id="options-tab" aria-controls="options" aria-selected="true" data-toggle="tab">{{ LocalStrings['opzioni']|capitalize }}</a>
			</li>					
		</ul>
		<form id="applicationForm" class="form-horizontal" role="form" action="{{ URLSITE }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
			<!-- Tab panes -->
			<div class="tab-content">		
				<div class="tab-pane fade show{% if App.tabActive == 1 %} active{% endif %}" id="datibase" role="tabpanel" aria-labelledby="datibase">			
					<fieldset>
						<div class="form-group row">
							<label for="dateinsID" class="col-md-2 control-label">{{ LocalStrings['data']|capitalize }}</label>
							<div class="col-sm-6 col-md-4  col-xl-2 input-group date" id="dateinsDPID">
								<input required type="text" name="dateins" class="form-control" placeholder="{{ LocalStrings['inserisci una data']|capitalize }}" id="dateinsID" value="">
								<span class="input-group-addon calendar-icon">
									<i class="fa fa-calendar"></i>
								</span>	    	
					    	</div>
						</div>
						<div class="form-group row">
							<label for="datescaID" class="col-md-2 control-label">{{ LocalStrings['data scadenza']|capitalize }}</label>
							<div class="col-sm-6 col-md-4  col-xl-2 input-group date" id="datescaDPID">
								<input required type="text" name="datesca" class="form-control" placeholder="{{ LocalStrings['inserisci una data di scadenza']|capitalize }}" id="datescaID" value="">
								<span class="input-group-addon calendar-icon">
									<i class="fa fa-calendar"></i>
								</span>	    	
					    	</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="numberID" class="col-md-2 control-label">{{ LocalStrings['numero']|capitalize }}</label>
							<div class="col-md-7">
								<input required type="text" name="number" class="form-control" id="numberID" placeholder="{{ LocalStrings['inserisci un numero']|capitalize }}" value="{{ App.item.number|e('html') }}">
					    	</div>
						</div>
	
					</fieldset>					
				</div>

<!-- sezione movimenti -->
			{% if App.id > 0 %}
				<div class="tab-pane fade show{% if App.tabActive == 2 %} active{% endif %}" id="articles" role="tabpanel" aria-labelledby="articles">
				
					{% if App.item_articles is iterable and App.item_articles|length > 0 %}	
						<div class="card mb-4 p-1">
							<div class="card-body p-1">
								<div class="table-responsive">	
									<table class="table table-striped table-bordered table-hover table-sm listData" width="100%" cellspacing="0" style="font-size:0.8rem;">	
										<thead>
											<tr>
												<th class="text-center">{{ LocalStrings['contenuto']|capitalize }}</th>
												<th class="text-center">{{ LocalStrings['prezzo unitario']|capitalize }}</th>
												<th class="text-center">{{ LocalStrings['quantità']|capitalize }}</th>
												<th class="text-center">{{ LocalStrings['prezzo totale']|capitalize }}</th>	
												<th class="text-center">{{ LocalStrings['iva']|capitalize }}</th>
												<th class="text-center">{{ LocalStrings['imponibile']|capitalize }}</th>
												<th class="text-center">{{ LocalStrings['totale']|capitalize }}</th>								
												<th></th>
											</tr>
										</thead>
										<tbody>				
											{% if App.item_articles is iterable and App.item_articles|length > 0 %}
												{% for key,value in App.item_articles %}
													<tr>
														<td>{{ value.content }}</td>
														<td class="text-right">{{ value.price_unity_label }}</td>
														<td class="text-center">{{ value.quantity }}</td>
														<td class="text-right">{{ value.price_total_label }}</td>
														<td class="text-center">{{ value.tax }}</td>								
														<td class="text-right">{{ value.price_tax_label }}</td>								
														<td class="text-right">{{ value.total_label }}</td>	
														<td class="actions">
															<a class="btn btn-default btn-sm modifyArtInvPur" data-id="{{ value.id }}" href="javascript:void(0);" title="{{ LocalStrings['modifica %ITEM%']|replace({'%ITEM%': LocalStrings['articolo']})|capitalize }}"><i class="far fa-edit"> </i></a>
															<a class="btn btn-default btn-sm confirm" href="{{ URLSITE }}{{ CoreRequest.action }}/deleteArtInvPur/{{ App.id }}/{{ value.id }}" title="{{ LocalStrings['cancella %ITEM%']|replace({'%ITEM%': LocalStrings['articolo']})|capitalize }}"><i class="fas fa-trash-alt"> </i></a>
														</td>							
													</tr>	
												{% endfor %}
											{% endif %}
										</tbody>
										<tfoot>
											<tr>
												<td class="text-right" colspan="2">{{ LocalStrings['totali']|capitalize }}</td>
												<td class="text-center">{{ App.item.art_tot_quantity_label }}</td>
												<td class="text-right">{{ App.item.art_tot_price_total_label }}</td>
												<td></td>								
												<td class="text-right">{{ App.item.art_tot_price_tax_label }}</td>								
												<td class="text-right">{{ App.item.art_tot_total_label }}</td>
												<td></td>
											</tr>
											{% if App.item.tax > 0 %}
											<tr>						
												<td class="text-right" colspan="6" style="border:0px;">{{ LocalStrings['tassa aggiuntiva']|capitalize }}</td>								
												<td class="text-right"><big><b>{{ App.item.invoiceTotalTax_label }}</b></big></td>
												<td></td>
											</tr>		
											{% endif %}
											{% if App.item.rivalsa > 0 %}
											<tr>						
												<td class="text-right" colspan="6" style="border:0px;">{{ App.company.text_rivalsa }}</td>								
												<td class="text-right"><big><b>{{ App.item.invoiceTotalRivalsa_label }}</b></big></td>
												<td style="border:0px;"></td>
											</tr>		
											{% endif %}
											<tr>
												<td class="text-right" colspan="6" style="border:0px;">{{ LocalStrings['totale']|capitalize}}</td>								
												<td class="text-right"><big><b>{{ App.item.invoiceTotal_label }}</b></big></td>
												<td style="border:0px;"></td>
											</tr>																		
										</tfoot>
									</table>
								</div>
							</div>
						</div>	
					{% endif %}
					
					<div class="card shadow mb-4">
						<div class="card-header pt-1 pb-1" id="articlePanelTitleID">
							{{ LocalStrings['aggiungi articolo']|capitalize }}
                		</div>

						<div class="card-body p-1" id="articlePanelID" style="font-size:0.8rem;">
							
							<div class="form-group row">							
								<textarea required name="art_content" id="art_contentID" class="form-control form-content form-article"  rows="3">{{ LocalStrings['inserisci testo articolo']|capitalize }}</textarea>														
							</div>
							
							<div class="form-row">
								<div class="col form-inline">	
					  				<label class="mr-2 ml-3" for="price_unityID">{{ LocalStrings['prezzo']|capitalize }}</label>
					    			<input type="text" class="form-control form-amount form-article" name="art_price_unity" id="art_price_unityID" value="0.00">
					  			</div>
					  			<div class="col form-inline">
					    			<label class="mr-2" for="quantityID">{{ LocalStrings['q.tà']|capitalize }}</label>
					    			<input type="text" class="form-control form-tax form-article" name="art_quantity" id="art_quantityID" value="1">
					  			</div>
					  			<div class="col form-inline">
									<label class="mr-2" for="price_totalID">{{ LocalStrings['totale']|capitalize }}</label>
									<input readonly="readonly" type="text" class="form-control form-amount form-article" name="art_price_total" id="art_price_totalID" value="0.00">	
								</div>
								<div class="col form-inline">
									<label class="mr-2" for="taxID">{{ LocalStrings['tassa']|capitalize }}</label>
									<input type="text" class="form-control form-tax form-article" name="art_tax" id="art_taxID" value="0">
								</div>
								<div class="col form-inline">
									<label class="mr-2" for="totalID">{{ LocalStrings['totale']|capitalize }}</label>
									<input type="text" class="form-control form-amount form-article" name="art_total" id="art_totalID" value="0.00">
								</div>
							</div>
							
							<div class="form-group row pt-2">
								<div class="col-md-6 col-xs-12 text-center">							
									<input type="hidden" name="id_article" id="id_articleID" value="0">
									<input type="hidden" name="artFormMode" id="artFormModeID" value="ins">
									<button type="submit" name="submitArtForm" id="submitArtFormID" value="submitArt" class="btn btn-info btn-sm">{{ LocalStrings['aggiungi']|capitalize }} {{ LocalStrings['articolo'] }}</button>
								</div>
								<div class="col-md-6 col-xs-12 text-center">
									<button type="button" name="resetArtForm" id="resetArtFormID" value="rev.1.0.0. 12/07/2018set" class="pull-right btn btn-warning btn-sm">{{ LocalStrings['resetta']|capitalize }} {{ LocalStrings['articolo'] }}</button>
								</div>
							</div>
						</div>						
					</div>
					
				</div>
			{% endif %}		
<!-- /sezione movimenti -->

<!-- sezione anagrafica -->
				<div class="tab-pane fade show" id="anagrafica" role="tabpanel" aria-labelledby="anagrafica">		
					<fieldset>					
						<div class="form-group row">
							<label for="nameID" class="col-md-2 control-label">{{ LocalStrings['cliente']|capitalize }}</label>
							<div class="col-md-5">
								<select name="id_customer" id="id_customerID" class="custom-select selectpicker">
									<option value =""></option>
									{% if App.customers is iterable and App.customers|length > 0 %}
										{% for key,value in App.customers %}
											<option value="{{ value.id }}"{% if App.item.id_customer == value.id %} selected="selected"{% endif %}>{{ value.ragione_sociale|e('html') }}</option>														
										{% endfor %}
									{% endif %}
								</select>								    	
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="customer_ragione_socialeID" class="col-md-2 control-label">{{ LocalStrings['ragione sociale']|capitalize }}</label>
							<div class="col-md-7">
								<input required="required" type="text" name="customer_ragione_sociale" class="form-control" id="customer_ragione_socialeID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['ragione sociale']})|capitalize }}" value="{{ App.item.customer_ragione_sociale|e('html') }}" oninvalid="this.setCustomValidity('{{ LocalStrings['Devi inserire una %ITEM%!']|replace({'%ITEM%': LocalStrings['ragione sociale']}) }}')" oninput="setCustomValidity('')">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_nameID" class="col-md-2 control-label">{{ LocalStrings['nome']|capitalize }}</label>
							<div class="col-md-7">
								<input type="text" name="customer_name" class="form-control" id="customer_nameID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['nome']})|capitalize }}" value="{{ App.item.customer_name|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_surnameID" class="col-md-2 control-label">{{ LocalStrings['cognome']|capitalize }}</label>
							<div class="col-md-7">
								<input type="text" name="customer_surname" class="form-control" id="customer_surnameID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['cognome']})|capitalize }}" value="{{ App.item.customer_surname|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_streetID" class="col-md-2 control-label">{{ LocalStrings['via']|capitalize }}</label>
							<div class="col-md-7">
								<input type="text" name="customer_street" class="form-control" id="customer_streetID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['via']})|capitalize }}" value="{{ App.item.customer_street|e('html') }}">
					    	</div>
						</div>		
						<div class="form-group row">
							<label for="customer_cityID" class="col-md-2 control-label">{{ LocalStrings['città']|capitalize }}</label>
							<div class="col-md-7">
								<input type="text" name="customer_city" class="form-control" id="customer_cityID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['città']})|capitalize }}" value="{{ App.item.customer_city|e('html') }}">
					    	</div>
						</div>	
						<div class="form-group row">
							<label for="customer_zip_codeID" class="col-md-2 control-label">{{ LocalStrings['cap']|capitalize }}</label>
							<div class="col-md-2">
								<input type="text" name="customer_zip_code" class="form-control" id="customer_zip_codeID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['cap']})|capitalize }}" value="{{ App.item.customer_zip_code|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_provinceID" class="col-md-2 control-label">{{ LocalStrings['provincia']|capitalize }}</label>
							<div class="col-md-7">
								<input type="text" name="customer_province" class="form-control" id="customer_provinceID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['provincia']})|capitalize }}" value="{{ App.item.customer_province|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_stateID" class="col-md-2">{{ LocalStrings['stato']|capitalize }}</label>
							<div class="col-md-7">
								<input type="text" name="customer_state" class="form-control" id="customer_stateID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['stato']})|capitalize }}" value="{{ App.item.customer_state|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="ecustomer_mailID" class="col-md-2 control-label">{{ LocalStrings['email']|capitalize }}</label>
							<div class="col-md-3">
								<input type="email" name="customer_email" class="form-control" id="customer_emailID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['indirizzo email']})|capitalize }}"  value="{{ App.item.customer_email|e('html') }}">
					    	</div>
					    	<div class="col-md-6" id="emailMessageID"></div>
						</div>
						<div class="form-group row">
							<label for="customer_telephoneID" class="col-md-2 control-label">{{ LocalStrings['telefono']|capitalize }}</label>
							<div class="col-md-3">
								<input type="text" name="customer_telephone" class="form-control" id="customer_telephoneID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['numero di telefono']})|capitalize }}"  value="{{ App.item.customer_telephone|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_faxID" class="col-md-2 control-label">{{ LocalStrings['fax']|capitalize }}</label>
							<div class="col-md-3">
								<input type="text" name="customer_fax" class="form-control" id="customer_faxID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['numero di fax']})|capitalize }}"  value="{{ App.item.customer_fax|e('html') }}">
					    	</div>
						</div>
				
						<div class="form-group row">
							<label for="customer_partita_ivaID" class="col-md-2 control-label">{{ LocalStrings['partita IVA']|capitalize }}</label>
							<div class="col-md-5">
								<input required="required" type="customer_partita_iva" name="customer_partita_iva" class="form-control" id="customer_partita_ivaID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['partita IVA']})|capitalize }}"  value="{{ App.item.customer_partita_iva|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_codice_fiscaleID" class="col-md-2 control-label">{{ LocalStrings['codice fiscale']|capitalize }}</label>
							<div class="col-md-5">
								<input required="required" type="text" name="customer_codice_fiscale" class="form-control" id="customer_codice_fiscaleID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': LocalStrings['codice fiscale']})|capitalize }}"  value="{{ App.item.customer_codice_fiscale|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_pecID" class="col-md-2 control-label">PEC</label>
							<div class="col-md-5">
								<input required="required" type="text" name="customer_pec" class="form-control" id="customer_pecID" placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': 'PEC'})|capitalize }}"  value="{{ App.item.customer_pec|e('html') }}">
					    	</div>
						</div>
						<div class="form-group row">
							<label for="customer_sidID" class="col-md-2 control-label">SID</label>
							<div class="col-md-5">
								<input required="required" type="text" name="customer_sid" class="form-control" id="customer_sidID" placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({'%ITEM%': 'SID'})|capitalize }}"  value="{{ App.item.customer_sid|e('html') }}">
					    	</div>
						</div>
					</fieldset>				
				</div>
<!-- /sezione anagrafica -->

<!-- sezione opzioni --> 
				<div class="tab-pane" id="options" role="tabpanel" aria-labelledby="options">
					<fieldset>
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ App.params.fields['InvPur']['active']['label']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
	   						</div>	
				  		</div>					
				  	</fieldset>					
				</div>
<!-- /sezione opzioni -->		 
			</div>
			<!--/Tab panes -->			
			<hr>
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 row-submitapply">
					<input type="hidden" name="article_edited" id="article_editedID" value="0">	
					<input type="hidden" name="type" id="typeID" value="{{ App.type }}">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ LocalStrings['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary btn-apply submittheform">{{ LocalStrings['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 row-back">		
					<a href="{{ URLSITE }}{{ CoreRequest.action }}/listItep" title="{{ LocalStrings['torna alla lista']|capitalize }}" class="btn btn-success btn-back">{{ LocalStrings['indietro']|capitalize }}</a>
				</div>
			</div>
		</form>
	</div>
</div>