<!-- invoices/listInvSal.html v.1.2.0. 14/08/2020 -->
<div class="row">
	<div class="col-md-3 new">
 		<a href="{{ URLSITE }}{{ CoreRequest.action }}/newInvSal" title="{{ Lang['inserisci una nuova %ITEM%']|replace({'%ITEM%': Lang['voce']})|capitalize }}" class="btn btn-sm btn-primary">{{ Lang['nuova %ITEM%']|replace({'%ITEM%': Lang['voce']})|capitalize }}</a>
	</div>
	<div class="col-md-7 help-small-list">
		{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}
	</div>
	<div class="col-md-2">
	</div>
</div>

<div class="card shadow mt-3 mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table id="listDataID" class="table table-sm table-striped table-bordered table-hover listData" width="100%" cellspacing="0" style="font-size:0.8rem;">
				<thead>
					<tr>
						<th>ID</th>
						<th>{{ Lang['data']|capitalize }}</th>
						<th>{{ Lang['scadenza']|capitalize }}</th>
						<th></th>
						<th>{{ Lang['cliente']|capitalize }}</th>
						<th>{{ Lang['numero']|capitalize }}</th>
						<th>{{ Lang['note']|capitalize }}</th>
						<th>{{ Lang['imponibile']|capitalize }}</th>
						<th>{{ Lang['imposte']|capitalize }}</th>
						<th>{{ Lang['totale']|capitalize }}</th>
						<th></th>
						<th></th>					
					</tr>
				</thead>
				<tbody>				
					
				</tbody>
			</table>
		</div>
	</div>
</div>