<!-- app/todo/formTodo.html v.1.3.0. 24/09/2020 -->
<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>
<div class="card shadow mt-3 mb-4">
	<div class="card-body">

		<ul class="nav nav-tabs" id="formTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" aria-controls="datibase" aria-selected="true" data-toggle="tab">{{ Lang['dati base']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#options" id="options-tab" aria-controls="options" aria-selected="true" data-toggle="tab">{{ Lang['opzioni']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#permissions" id="permissions-tab" aria-controls="permissions" aria-selected="true" data-toggle="tab">{{ Lang['accesso']|capitalize }}</a>
			</li>				
  		</ul>
		<form id="applicationForm" class="form-horizontal" action="{{ URLSITE}}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
		
			<div class="tab-content">			
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase">
					<fieldset>
						<div class="form-group row">
							<label for="titleID" class="col-md-2 control-label">{{ Lang['titolo']|capitalize }}</label>
							<div class="col-md-7">
								<input required="required" type="text" class="form-control" name="title" placeholder="{{ Lang['inserisci un %ITEM%']|replace({'%ITEM%': Lang['titolo']})|capitalize }}" id="titleID" value="{{ App.item.title }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%': Lang['titolo']}) }}')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group row">
							<label for="contentID" class="col-md-2 control-label">{{ Lang['contenuto']|capitalize }}</label>
							<div class="col-md-8">
								<textarea name="content" class="form-control editorHTML" id="contentID" rows="5">{{ App.item.content }}</textarea>
							</div>
						</div>
					</fieldset>					
				</div>
<!-- sezione opzioni --> 
				<div class="tab-pane" id="options" role="tabpanel" aria-labelledby="options">	
					<fieldset>
						<div class="form-group row">						
							<label for="id_projectID" class="col-md-2 control-label">{{ Lang['progetto']|capitalize }}</label>
							<div class="col-md-5">
								<select name="id_project" class="selectpicker" data-live-search="true" title="{{ Lang['seleziona un %ITEM%']|replace({'%ITEM%': Lang['progetto']})|capitalize }}">
									{% if App.progetti is iterable %}
										{% for value in App.progetti %}
											<option value="{{ value.id }}"{% if (App.item.id_project is defined) and (App.item.id_project == value.id)  %} selected="selected" {% endif %}>{{ value.title }}</option>														
										{% endfor %}
									{% endif %}		
								</select>										
					    	</div>
						</div>		
						<div class="form-group row">
							<label for="statusID" class="col-md-2 control-label">{{ Lang['status']|capitalize }}</label>
							<div class="col-md-3">
								<select name="status" class="selectpicker" data-live-search="true" title="{{ Lang['seleziona uno %ITEM%']|replace({'%ITEM%': Lang['status']})|capitalize }}">
									{% if App.params.status is iterable %}
										{% for key,value in App.params.status %}	
											<option value="{{ key }}"{% if key == App.item.status %} selected="selected"{% endif %}>{{ (Lang[value] is defined and Lang[value] != '') ? Lang[value]|capitalize : value|capitalize }}</option>														
										{% endfor %}
									{% endif %}		
								</select>		
					    	</div>
						</div>				
					
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ App.params.fields['item']['active']['label']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
	   						</div>	
				  		</div>					
    				
					</fieldset>
				</div>
<!-- sezione opzioni -->

<!-- tab permissions -->
				<div class="tab-pane fade show" id="permissions" role="tabpanel" aria-labelledby="permissions">	
					<fieldset>	
						<!-- /* set type */ -->
						<div class="form-group form-inline">	
							<label for="access_type_public" class="col-md-3">{{ Lang['pubblico']|capitalize }}</label>
							<input{% if App.item.access_type == 0 %} checked="checked"{% endif %} value="0" id="access_type_public" name="access_type" type="radio"> 
						</div>
						<div class="form-group form-inline">	
							<label for="access_type_private" class="col-md-3">{{ Lang['privato']|capitalize }}</label>
							<input{% if App.item.access_type == 1 %} checked="checked"{% endif %} value="1" id="access_type_private" name="access_type" type="radio"> 
						</div>
						<div class="form-group form-inline">	
							<label for="access_type_users" class="col-md-3">{{ Lang['utenti']|capitalize }}</label>
							<input{% if App.item.access_type == 2 %} checked="checked"{% endif %} value="2" id="access_type_users" name="access_type" type="radio"> 
						</div>
					</fieldset>	
				</div>
<!-- fine tab permissions -->
			</div>
<!--/Tab panes -->			
			<hr>
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 row-submitapply">
					<input type="hidden" name="created" id="createdID" value="{{ App.item.created }}">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary btn-apply submittheform">{{ Lang['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 row-back">	
					<a href="{{ URLSITE }}{{ CoreRequest.action }}/listItem" title="{{ Lang['torna alla lista']|capitalize }}" class="btn btn-success btn-back">{{ Lang['indietro']|capitalize }}</a>
				</div>
			</div>
		</form>
	</div>
</div>