<!-- todo/listItem.tpl.php v.1.2.0. 21/12/2019 -->

<div class="row">
	<div class="col-md-3 new">
 		<a href="{{ URLSITE }}{{ CoreRequest.action }}/newItem" title="{{ LocalStrings['inserisci un nuovo %ITEM%']|replace({'%ITEM%': LocalStrings['voce']})|capitalize }}" class="btn btn-sm btn-primary">{{ LocalStrings['nuovo %ITEM%']|replace({'%ITEM%': LocalStrings['voce']})|capitalize }}</a>
	</div>
	<div class="col-md-7 help-small-list">
		{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}
	</div>
	<div class="col-md-2">
	</div>
</div>
<div class="card shadow mt-3 mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table id="listDataID" class="table table-sm table-striped table-bordered table-hover listData" width="100%" cellspacing="0" style="font-size:0.95rem;">
				<thead>
					<tr>
						<th>ID</th>
						<th>{{ LocalStrings['progetto']|capitalize }}</th>
						<th>{{ LocalStrings['titolo']|capitalize }}</th>
						<th>{{ LocalStrings['status']|capitalize }}</th>
						<th></th>			
					</tr>
				</thead>
				<tbody>				
					
				</tbody>
			</table>
		</div>
	</div>
</div>