<!-- timecard/formPitem.html v.1.2.0. 24/12/2019 -->
<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>
<div class="card shadow mt-1 mb-4">
	<div class="card-body">
		<ul class="nav nav-tabs" id="formTab" role="tablist">		
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" aria-controls="datibase" aria-selected="true" data-toggle="tab">{{ Lang['dati base']|capitalize }}</a>
			</li>
  		</ul>
		<form id="applicationForm" class="form-horizontal" role="form" action="{{ URLSITE }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
			<div class="tab-content">			
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase">		
					<fieldset>
						<div class="form-group row">
							<label for="titleID" class="col-md-2 control-label">{{ Lang['titolo']|capitalize }}</label>
							<div class="col-md-7">
								<input required="required" type="text" class="form-control" name="title" placeholder="{{ Lang['inserisci un %ITEM%']|replace({'%ITEM%': Lang['titolo']})|capitalize }}" id="titleID" value="{{ App.item.title }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%': Lang['titolo']}) }}')" oninput="setCustomValidity('')">
							</div>
						</div>
						
					
						<div class="form-group row">
							<label for="starttimeID" class="col-md-2 control-label">{{ Lang['Partenza - Ore:Minuti']|capitalize }}</label>
							<div class="col-md-2 col-xs-2 input-group input-group-date date">
								<input required="required" type="text" name="starttime" id="starttimeID" value="" class="form-control" placeholder="{{ Lang['inserisci ora inizio']|capitalize }}">
								<span class="input-group-addon calendar-icon"><i class="fas fa-clock"></i></span>	
					    	</div>
						</div>
						
						<div class="form-group row">
							<label for="endtimeID" class="col-md-2 control-label">{{ Lang['Fine - Ore:Minuti']|capitalize }}</label>
							<div class="col-md-2 col-xs-2 input-group input-group-date date">
								<input required="required" type="text" name="endtime" id="endtimeID" value="" class="form-control" placeholder="{{ Lang['inserisci ora fine']|capitalize }}">
								<span class="input-group-addon calendar-icon"><i class="fas fa-clock"></i></span>	   	
					    	</div>
						</div>

					
						<div class="form-group row">
							<label for="contentID" class="col-md-2 control-label">{{ Lang['contenuto']|capitalize }}</label>
							<div class="col-md-8">
								<textarea name="content" class="form-control" id="contentID" rows="5">{{ App.item.content }}</textarea>
							</div>
						</div>
						
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ App.params.fields['pite']['active']['label']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
	   						</div>	
				  		</div>
				  		
					</fieldset>
				</div>
<!-- sezione opzioni -->
			</div>
<!--/Tab panes -->			
			<hr>
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 text-center">
					<input type="hidden" name="created" id="createdID" value="{{ App.item.created }}">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary submittheform">{{ Lang['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 text-right">			
					<a href="{{ URLSITE }}{{ CoreRequest.action }}/listPite" title="{{ Lang['torna alla lista']|capitalize }}" class="btn btn-success">{{ Lang['indietro']|capitalize }}</a>
				</div>
			</div>
		</form>
	</div>
</div>