<!-- timecard/listPite.tpl.php v.1.2.0. 21/12/2019 -->
<div class="row">
	<div class="col-md-3 new">
 		<a href="{{ URLSITE }}{{ CoreRequest.action }}/newPite" title="{{ LocalStrings['inserisci una nuova %ITEM%']|replace({'%ITEM%': LocalStrings['voce']})|capitalize }}" class="btn btn-sm btn-primary">{{ LocalStrings['nuova %ITEM%']|replace({'%ITEM%': LocalStrings['voce']})|capitalize }}</a>
	</div>
	<div class="col-md-7 help-small-list">{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2"></div>
</div>
<div class="card shadow mt-3 mb-4">
	<div class="card-body">
		<div class="table-responsive">		
			<table id="listDataID" class="table table-sm table-striped table-bordered table-hover listData" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>{{ LocalStrings['titolo']|capitalize }}</th>
						<th>{{ LocalStrings['contenuto']|capitalize }}</th>
						<th>{{ LocalStrings['ora inizio']|capitalize }}</th>
						<th>{{ LocalStrings['ora fine']|capitalize }}</th>
						<th>{{ LocalStrings['ore lavoro']|capitalize }}</th>
						<th></th>			
					</tr>
				</thead>
				<tbody>				
					
				</tbody>
			</table>
		</div>
	</div>
</div>
