
<!DOCTYPE html>
<html lang="{{ Lang['user'] }}">
	<head>

		<title>{{ App.metaTitlePage|e('html_attr') }}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ App.metaDescriptionPage|e('html_attr') }}">
		<meta name="keyword" content="{{ App.metaKeywordsPage|e('html_attr') }}">
		<meta name="author" content="Roberto Mantovani">
		<link rel="icon" href="{{ URLSITE }}templates/{{ App.templateUser }}/favicon.ico">

		<!-- Custom fonts for this template-->
  		<link href="{{ URLSITE }}templates/{{ App.templateUser }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

		<!-- Other Plugin CSS -->
		<link href="{{ URLSITE }}templates/{{ App.templateUser }}/plugins/lightbox/css/lightbox.min.css" rel="stylesheet">

  		<!-- Custom styles for this template-->
  		<link href="{{ URLSITE }}templates/{{ App.templateUser }}/css/sb-admin-2.min.css" rel="stylesheet">

  		<link href="{{ URLSITE }}templates/{{ App.templateUser }}/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

		<link href="{{ URLSITE }}templates/{{ App.templateUser }}/css/custom.css" rel="stylesheet">
		<!-- CSS for Page -->
		{% if App.css is iterable %}
			{% for key,value in App.css %}
				{{ value|raw }}
			{% endfor %}
		{% endif %}

		<!-- default vars useful for javascript -->
		<script language="javascript">
			var siteUrl = '{{ URLSITE }}';
			var sitePath = '{{ PATHSITE }}';
			var siteTemplateUrl = '{{ URLSITE }}templates/{{ App.templateUser }}/';
			var siteTemplatePath = '{{ PATHSITE }}templates/{{ App.templateUser }}/';
			var siteDocumentPath = '{{ PATHDOCUMENT }}';
			var coreRequestAction = '{{ CoreRequest.action }}';
			var currentModulePath = '{{ PATHSITE }}{{ App.pathApplications }}{{ CoreRequest.action }}/';
			var user_lang = "{{ Lang['user'] }}";
			var messages = new Array();
			messages['Sei sicuro?'] = '{{ Lang['Sei sicuro?']|e('js') }}';
			{% if (App.defaultJavascript is defined) and (App.defaultJavascript != '') %}
				{{ App.defaultJavascript|raw }}
			{% endif %}
		</script>

		{% if App.includeJscriptPHPTop is defined and App.includeJscriptPHPTop != '' %}
			{{ include(App.includeJscriptPHPTop|raw) }}
		{% endif %}

	</head>

	<body id="page-top">

		<!-- Page Wrapper -->
		<div id="wrapper">

			<!-- Sidebar -->
    		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
				<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ URLSITE }}" title="{{ Lang['vai al %ITEM%']|replace({'%ITEM%':Lang['sito']})|capitalize }} {{ GlobalSettings['site name'] }}">
					<!-- Sidebar - Brand -->
					<div class="sidebar-brand-icon rotate-n-15">

        			</div>
        			<div class="sidebar-brand-text mx-3">{{ GlobalSettings['site name'] }} <sup><small>V.{{ GlobalSettings['code version'] }}</small></sup></div>
				</a>
      			<!-- Divider -->
      			<hr class="sidebar-divider">

  				{% if App.rightCodeMenu is defined and App.rightCodeMenu != '' %}
					{{ App.rightCodeMenu|raw }}
				{% endif %}

      			<!-- Divider -->
      			<hr class="sidebar-divider d-none d-md-block">

      			<!-- Sidebar Toggler (Sidebar) -->
      			<div class="text-center d-none d-md-inline">
        			<button class="rounded-circle border-0" id="sidebarToggle"></button>
      			</div>

    		</ul>
    		<!-- End of Sidebar -->

    		<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">

      			<!-- Main Content -->
      			<div id="content">

        			<!-- Topbar -->
					<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>
						<div class="module-titles">
							{{ App.pageTitle }} <sup><small>V. {{ App.codeVersion }}</small></sup> - {{ App.pageSubTitle|capitalize }}
						</div>

						<div class="topbar-divider d-none d-sm-block"></div>

						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

							<div class="topbar-divider d-none d-sm-block"></div>

							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="mr-2 d-none d-lg-inline text-gray-600 small">
										{% if App.userLoggedData.name is defined %}{{ App.userLoggedData.name }}{% endif %} {% if App.userLoggedData.surname is defined %}{{ App.userLoggedData.surname }}{% endif %}

										{% if App.userLoggedData.labelRole is defined %}<br>({{ App.userLoggedData.labelRole }}){% endif %}
									</span>
									<img alt="{{ App.userLoggedData.username }}" class="img-profile rounded-circle" src="{{ URLSITE }}ajax/renderuseravatarfromdb.php?id={{ App.userLoggedData.id }}">
						  		</a>
						  		<!-- Dropdown - User Information -->
						  		<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
									<a class="dropdown-item" href="{{ URLSITE }}profile/NULL/{% if App.userLoggedData.id is defined %}{{ App.userLoggedData.id }}{% endif %}" title="{{ Lang['modifica il %ITEM%']|replace({'%ITEM%':Lang['profilo']})|capitalize }}">
						  				<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> {{ Lang['profilo']|capitalize }}
									</a>
									<a class="dropdown-item" href="{{ URLSITE }}password/NULL/{% if App.userLoggedData.id is defined %}{{ App.userLoggedData.id }}{% endif %}" title="{{ Lang['modifica la %ITEM%']|replace({'%ITEM%':Lang['password']})|capitalize }}">
						  				<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> {{ Lang['password']|capitalize }}
									</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
									  		<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> {{ Lang['logout']|capitalize }}
									</a>
						  		</div>
							</li>
						</ul>
					</nav>
        			<!-- End of Topbar -->

			        <!-- Begin Page Content -->
			        <div class="container-fluid">
			          	{% if (App.systemMessages is defined) and (App.systemMessages != '') %}
							{{ App.systemMessages|raw }}
						{% endif %}
						{{ include(App.templateApp) }}
        			</div>
        			<!-- /.container-fluid -->

      			</div>
      			<!-- End of Main Content -->

     			<!-- Footer -->
      			<footer class="sticky-footer bg-white">
        			<div class="container my-auto">
          				<div class="copyright text-center my-auto">
            				<span>Copyright &copy; {{ GlobalSettings['copyright'] }}</span>
          				</div>
       				</div>
      			</footer>
      			<!-- End of Footer -->

			</div>
    		<!-- End of Content Wrapper -->

		</div>
  		<!-- End of Page Wrapper -->

  		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
    		<i class="fas fa-angle-up"></i>
  		</a>

		<!-- Logout Modal-->
	  	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
		  				<h5 class="modal-title" id="exampleModalLabel">{{ Lang['pronto ad abbandonare?']|capitalize }}</h5>
		  				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">{{ Lang['seleziona logout se sei pronto a terminare la tua sessione corrente']|capitalize }}.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">{{ Lang['cancella']|capitalize }}</button>
	  					<a class="btn btn-primary" href="{{ URLSITE }}logout" title="{{ Lang['esci dal sistema']|capitalize }}">{{ Lang['logout']|capitalize }}</a>
					</div>
				</div>
			</div>
	  	</div>

	  {% if (App.params.help is defined) and (App.params.help != '') %}
		<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
	  					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  					<h4 class="modal-title" id="myModalLabel">{{ Lang['aiuto']|capitalize }}</h4>
	 				</div>
	 				<div class="modal-body">
						{{ App.params.help|raw }}
	 				</div>
	 				<div class="modal-footer">
	  					<button type="button" class="btn btn-default" data-dismiss="modal">{{ Lang['chiudi']|capitalize }}</button>
	 				</div>
				</div>
				<!-- /.modal-content -->
			</div>
	  		<!-- /.modal-dialog -->
		</div>
		{% endif %}

		<!-- Bootstrap core JavaScript-->
	   <script src="{{ URLSITE }}templates/{{ App.templateUser }}/vendor/jquery/jquery.min.js"></script>
	   <script src="{{ URLSITE }}templates/{{ App.templateUser }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	   <!-- Core plugin JavaScript-->
	   <script src="{{ URLSITE }}templates/{{ App.templateUser }}/vendor/jquery-easing/jquery.easing.min.js"></script>

	   <!-- Custom scripts for all pages-->
	   <script src="{{ URLSITE }}templates/{{ App.templateUser }}/js/sb-admin-2.min.js"></script>

	   {% if App.jscript is iterable %}
		   {% for key,value in App.jscript %}
			   {{ value|raw }}
		   {% endfor %}
	   {% endif %}

	   {% if App.jscriptLast is iterable %}
		   {% for key,value in App.jscriptLast %}
			   {{ value|raw }}
		   {% endfor %}
	   {% endif %}

	   <!-- Default Custom Theme JavaScript -->
	   <script src="{{ URLSITE }}templates/{{ App.templateUser }}/js/default.js"></script>

	</body>
</html>
