<!-- app/projects/formProject.html v.1.3.0. 25/09/2020 -->
<style type="text/css">
<!--
.table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.table-fixed tbody th {
	 clear: both;
}
-->
</style>

<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>
<div class="card shadow mt-1 mb-4">
	<div class="card-body">
		<ul class="nav nav-tabs" id="formTab" role="tablist">	
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" aria-controls="datibase" aria-selected="true" data-toggle="tab">{{ Lang['dati base']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#todo" id="todo-tab" aria-controls="todo" aria-selected="true" data-toggle="tab">{{ Lang['da fare']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#timecards" id="timecards-tab" aria-controls="timecards" aria-selected="true" data-toggle="tab">{{ Lang['timecards']|capitalize }}</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#options" id="options-tab" aria-controls="options" aria-selected="true" data-toggle="tab">{{ Lang['opzioni']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#permissions" id="permissions-tab" aria-controls="permissions" aria-selected="true" data-toggle="tab">{{ Lang['accesso']|capitalize }}</a>
			</li>
  		</ul>
		<form id="applicationForm" class="form-horizontal" role="form" action="{{ URLSITE }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
			<div class="tab-content">	
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase">		
					<fieldset>
						<div class="form-group row">
							<label for="titleID" class="col-md-2 control-label">{{ Lang['titolo']|capitalize }}</label>
							<div class="col-md-7">
								<input required="required" type="text" class="form-control" name="title" placeholder="{{ Lang['inserisci un %ITEM%']|replace({'%ITEM%': Lang['titolo']})|capitalize }}" id="titleID" value="{{ App.item.title|e('html') }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%': Lang['titolo']}) }}')" oninput="setCustomValidity('')">
							</div>
						</div>
						<div class="form-group row">
							<label for="contentID" class="col-md-2 control-label">{{ Lang['contenuto']|capitalize }}</label>
							<div class="col-md-8">
								<textarea name="content" class="form-control editorHTML" id="contentID" rows="5">{{ App.item.content }}</textarea>
							</div>
						</div>			
						<div class="form-group row">
							<label for="costo_orarioID" class="col-md-2 control-label">{{ Lang['costo orario']|capitalize }}</label>
							<div class="col-md-7">
								<input required type="text" class="form-control" name="costo_orario" placeholder="{{ Lang['inserisci un %ITEM%']|replace({'%ITEM%': Lang['costo orario']})|capitalize }}" id="costo_orarioID" value="{{ App.item.costo_orario|e('html') }}">
							</div>
						</div>
						<div class="form-group row">
							<label for="statusID" class="col-md-2 control-label">{{ Lang['status']|capitalize }}</label>
							<div class="col-md-7">
								<select name="status" class="selectpicker" data-live-search="true" title="{{ Lang['seleziona uno %ITEM%']|replace({'%ITEM%': Lang['status']})|capitalize }}">
									{% if App.params.status is iterable %}
										{% for key,value in App.params.status %}	
											<option value="{{ key }}"{% if key == App.item.status %} selected="selected"{% endif %}>{{ (Lang[value] is defined and Lang[value] != '') ? Lang[value]|capitalize|e('html') : value|capitalize|e('html') }}</option>														
										{% endfor %}
									{% endif %}		
								</select>		
					    	</div>
						</div>
						<div class="form-group row">
							<label for="completatoID" class="col-md-2 control-label">{{ Lang['completato']|capitalize }} (0-100%)</label>
							<div class="col-md-7">
								<input required type="text" class="form-control" name="completato" placeholder="{{ Lang['inserisci una %ITEM%']|replace({'%ITEM%': Lang['percentuale di completamento']})|capitalize }}" id="completatoID" value="{{ App.item.completato|e('html') }}">
							</div>
						</div>
					</fieldset>				
				</div>

<!-- sezione todo --> 
				<div class="tab-pane fade show" id="todo" role="tabpanel" aria-labelledby="todo">

					<div class="card mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table id="listDataID" class="table table-striped table-bordered table-hover listData" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>{{ Lang['titolo']|capitalize }}</th>
											<th>{{ Lang['status']|capitalize }}</th>
											<th>{{ Lang['contenuto']|capitalize }}</th>							
										</tr>
									</thead>
									<tbody>				
										{% if App.item_todo is iterable and App.item_todo|length > 0 %}
											{% for key,value in App.item_todo %}
												<tr>										
													<td>{{ value.title }}</td>
													<td>{{ value.statusLabel|capitalize }}</td>
													<td>{{ value.content|raw }}</td>
													</tr>	
											{% endfor %}
										{% endif %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
								
				</div>
<!-- fine sezione todo --> 

<!-- sezione timecards --> 
				<div class="tab-pane fade show" id="timecards" role="tabpanel" aria-labelledby="timecards">
				
{% if App.id > 0 %}							
	<div class="row mb-4">
		<div class="col-md-4">
			<a id="listProjectTimecardsCmID" class="btn btn-primary btn-sm" href="javascript:void(0);" title="{{ Lang['visualizza il tempo lavorato il mese corrente']|capitalize }}">{{ Lang['tempo lavorato mese corrente']|capitalize }}</a>
		</div>
		<div class="col-md-4">
			<a id="listProjectTimecardsPmID" class="btn btn-primary btn-sm" href="javascript:void(0);" title="{{ Lang['visualizza il tempo lavorato il mese precedente']|capitalize }}">{{ Lang['tempo lavorato mese precedente']|capitalize }}</a>
		</div>
		<div class="col-md-4">
			<a  id="listProjectTimecardsAllID" class="btn btn-primary btn-sm" href="javascript:void(0);" title="{{ Lang['visualizza il tempo lavorato']|capitalize }}">{{ Lang['tempo lavorato']|capitalize }}</a>
		</div>							
	</div>
{% endif %}


					<div class="card mb-4">
						<div class="card-body">
							<div class="container" id="listProjectTimecardsID">
							</div>
						</div>
					</div>
					
					{% if App.id > 0 %}							
							<div class="row">
								<div class="col-md-1">
									<a class="btn btn-default btn-sm" href="{{ URLSITE }}{{ CoreRequest.action  }}/listTimecardsPdfExpo/{{ App.id }}/cm" title="{{ Lang['stampa il report del tempo lavorato il mese corrente']|capitalize }}" target="_blank"><i class="fas fa-print"></i></a>
								</div>
								<div class="col-md-1">
									<a class="btn btn-default btn-sm" href="{{ URLSITE }}{{ CoreRequest.action  }}/listTimecardsPdfExpo/{{ App.id }}/pm" title="{{ Lang['stampa il report del tempo lavorato il mese precedente']|capitalize }}" target="_blank"><i class="fas fa-print"></i></a>
								</div>
								<div class="col-md-1">
									<a class="btn btn-default btn-sm" href="{{ URLSITE }}{{ CoreRequest.action  }}/listTimecardsPdfExpo/{{ App.id }}" title="{{ Lang['stampa il report del tempo lavorato']|capitalize }}" target="_blank"><i class="fas fa-print"></i></a>
								</div>							
							</div>
					{% endif %}
								
				</div>
<!-- fine sezione todo -->

<!-- sezione opzioni --> 
				<div class="tab-pane fade show" id="options" role="tabpanel" aria-labelledby="options">
	
					<fieldset>
						<div class="form-group row">
							<label for="contactID" class="col-md-2 control-label">{{ Lang['contatto']|capitalize }}</label>
							<div class="col-md-7">
								<select name="id_contact" class="selectpicker" data-live-search="true" title="{{ Lang['seleziona un %ITEM%']|replace({'%ITEM%': Lang['contatto']})|capitalize }}">
									<option value="0">
									{% if App.customers is iterable %}
										{% for key,value in App.customers %}	
											<option value="{{ key }}"{% if key == App.item.id_contact %} selected="selected"{% endif %}>{{ value.ragione_sociale|e('html') }}</option>														
										{% endfor %}
									{% endif %}		
								</select>										
					    	</div>
						</div>			  		
    					
    					<div class="form-group row">
							<label for="currentID" class="col-md-2 control-label">{{ App.params.fields['item']['current']['label']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="current" id="currentID" class="form-check-input"{% if App.item.current == 1 %} checked="checked"{% endif %} value="1">     					
	   						</div>
	   					</div>		
    					
    					<div class="form-group row">
							<label for="timecardID" class="col-md-2 control-label">{{ App.params.fields['item']['timecard']['label']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="timecard" id="timecardID" class="form-check-input"{% if App.item.timecard == 1 %} checked="checked"{% endif %} value="1">     					
	   						</div>
	   					</div>
	   							  		
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ App.params.fields['item']['active']['label']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
	   					</div>
	   				</div>		
					</fieldset>
				</div>
<!-- sezione opzioni -->
<!-- tab permissions -->
				<div class="tab-pane fade show" id="permissions" role="tabpanel" aria-labelledby="permissions">	
					<fieldset>	
						<!-- /* set type */ -->
						<div class="form-group form-inline">	
							<label for="access_type_public" class="col-md-3">{{ Lang['pubblico']|capitalize }}</label>
							<input{% if App.item.access_type == 0 %} checked="checked"{% endif %} value="0" id="access_type_public" name="access_type" type="radio"> 
						</div>
						<div class="form-group form-inline">	
							<label for="access_type_private" class="col-md-3">{{ Lang['privato']|capitalize }}</label>
							<input{% if App.item.access_type == 1 %} checked="checked"{% endif %} value="1" id="access_type_private" name="access_type" type="radio"> 
						</div>
						<div class="form-group form-inline">	
							<label for="access_type_users" class="col-md-3">{{ Lang['utenti']|capitalize }}</label>
							<input{% if App.item.access_type == 2 %} checked="checked"{% endif %} value="2" id="access_type_users" name="access_type" type="radio"> 
						</div>
					</fieldset>	
				</div>
<!-- fine tab permissions -->

			</div>
<!--/Tab panes -->	
			<hr>
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 row-submitapply">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary btn-apply submittheform">{{ Lang['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 row-back">	
					<a href="{{ URLSITE }}{{ CoreRequest.action }}/listItem" title="{{ Lang['torna alla lista']|capitalize }}" class="btn btn-success btn-back">{{ Lang['indietro']|capitalize }}</a>
				</div>
			</div>
		</form>
	</div>
</div>