<!-- app/modules/formModules.html v.1.3.0. 18/09/2020 -->
<div class="row">
	<div class="col-md-3 new"></div>
	<div class="col-md-7 help-small-form">{% if App.params.help_small is defined and App.params.help_small != '' %}{{ App.params.help_small }}{% endif %}</div>
	<div class="col-md-2 help"></div>
</div>

<div class="card shadow mt-3 mb-4">
	<div class="card-body">

		<!-- Nav tabs -->
		<ul class="nav nav-tabs" id="formTab" role="tablist">		
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" data-toggle="tab" role="tab" aria-controls="datibase" aria-selected="true">{{ Lang['dati base']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#smallhelp" id="smallhelp-tab" data-toggle="tab" role="tab" aria-controls="smallhelp" aria-selected="false">{{ Lang['aiuto breve']|capitalize }}</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#help" id="help-tab" data-toggle="tab" role="tab" aria-controls="help" aria-selected="false">{{ Lang['aiuto']|capitalize }}</a>
			</li>
		</ul>		
		<form id="applicationForm" class="form-horizontal" role="form" action="{{ URLSITEADMIN }}{{ CoreRequest.action }}/{{ App.methodForm }}"  enctype="multipart/form-data" method="post">
			<!-- Tab panes -->
			<div class="tab-content" id="formTabContent">			
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase-tab">			
					<fieldset>
						<div class="form-group row">
							<label for="nameID" class="col-md-2 control-label">{{ App.params.fields['item']['name']['label'] }}</label>
							<div class="col-md-3">
								
								<input type="text" name="name" id="nameID" value="{{ App.item.name|e('html') }}" class="form-control"  placeholder="{{ Lang['inserisci un %ITEM%']|replace({'%ITEM%': Lang['nome']})|capitalize }}"{% if App.params.fields['item']['name']['required'] == true %} required="required" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%':Lang['nome']}) }}')" oninput="setCustomValidity('')"{% endif %}>

					    	</div>
						</div>
						
						<div class="form-group row">
							<label for="nameID" class="col-md-2 control-label">{{ App.params.fields['item']['label']['label'] }}</label>
							<div class="col-md-3">								
								<input type="text" name="label" id="labelID" value="{{ App.item.label|e('html') }}" class="form-control"  placeholder="{{ Lang['inserisci una %ITEM%']|replace({'%ITEM%': Lang['etichetta']})|capitalize }}"{% if App.params.fields['item']['label']['required'] == true %} required="required" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire una %ITEM%!']|replace({'%ITEM%':Lang['etichetta']}) }}')" oninput="setCustomValidity('')"{% endif %}>
					    	</div>
						</div>
						
						<div class="form-group row">
							<label for="aliasID" class="col-md-2 control-label">{{ App.params.fields['item']['alias']['label'] }}</label>
							<div class="col-md-3">
								
					    	
					    	
								<input type="text" name="alias" id="aliasID" value="{{ App.item.alias|e('html') }}" class="form-control"  placeholder="{{ Lang['inserisci un %ITEM%']|replace({'%ITEM%': Lang['alias']})|capitalize }}"{% if App.params.fields['item']['alias']['required'] == true %} required="required" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire un %ITEM%!']|replace({'%ITEM%':Lang['alias']}) }}')" oninput="setCustomValidity('')"{% endif %}>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 control-label">{{ App.params.fields['item']['section']['label'] }}</label>	
							<div class="col-md-7">	
								<select class="custom-select" name="section">					
								{% if App.sections is iterable and App.sections|length > 0 %}
									{% for key,value in App.sections %}					
										<option value="{{ key }}"{% if App.item.section is defined and App.item.section == key %} selected="selected"{% endif %}>{{ value|e('html') }}</option>														
									{% endfor %}
								{% endif %}											
								</select>	
							</div>												
						</div>									
						<hr>
						<div class="form-group row">
							<label for="commentID" class="col-md-2 control-label">{{ App.params.fields['item']['content']['label'] }}</label>
							<div class="col-md-7">
								<textarea name="content" class="form-control" id="content" rows="4">{{ App.item.content }}</textarea>
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label for="code_menuID" class="col-md-2 control-label">{{ App.params.fields['item']['code_menu']['label'] }}</label>
							<div class="col-md-7">
								<textarea name="code_menu" class="form-control" id="code_menuID" rows="4">{{ App.item.code_menu }}</textarea>
								<small id="code_menuHelpBlock" class="form-text text-muted">{{ Lang['%URLSITE% per url dinamico'] }}</small>
							</div>
						</div>
						<hr>						
	
						<!-- se e un utente root visualizza l'input altrimenti lo genera o mantiene automaticamente -->	
						{% if App.userLoggedData.is_root == 1 %}		
							<div class="form-group row">
								<label for="orderingID" class="col-md-2 control-label">{{ App.params.fields['item']['ordering']['label'] }}</label>
								<div class="col-md-3">
									<input type="text" name="ordering" placeholder="" class="form-control" id="orderingID" value="{{ App.item.ordering }}">
						    	</div>
							</div>
						<hr>
						{% else %}
							<input type="hidden" name="ordering" value="{{ App.item.ordering }}">		
						{% endif %}
						<!-- fine se root -->
						<div class="form-group row">
							<label for="activeID" class="col-md-2 control-label">{{ Lang['attiva']|capitalize }}</label>
							<div class="col-md-7">
								<input type="checkbox" name="active" id="activeID" class="form-check-input"{% if App.item.active == 1 %} checked="checked"{% endif %} value="1">     					
	   					</div>
	   				</div>
					</fieldset>
					
				</div>
	<!-- sezione datibase -->	  
				<div class="tab-pane fade" id="smallhelp" role="tabpanel" aria-labelledby="smallhelp-tab">	
					<fieldset>
						<div class="form-group">
							<p>{{ Lang['Questo è il contenuto BREVE aiuto del modulo'] }}</p>
							<div class="col-md-12">
								<textarea name="help_small" class="form-control" id="help_smallID" rows="4">{{ App.item.help_small }}</textarea>
							</div>
						</div>
					</fieldset>
				</div>				
				<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
					<fieldset>
						<p>{{ Lang['Questo è il contenuto COMPLETO aiuto del modulo'] }}</p>
						<div class="form-group">							
							<div class="col-md-12">
								<textarea name="help" class="form-control editorHTML" id="helpID" rows="4">{{ App.item.help }}</textarea>
							</div>
						</div>
					</fieldset>
				</div>	 
			</div>
			<!--/Tab panes -->		
			<hr>			
			<div class="form-group row">
				<div class="col-md-6 col-xs-12 row-submitapply">
					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="{{ App.methodForm }}">
					<button type="submit" name="submitForm" value="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
					{% if App.id > 0 %}
						<button type="submit" name="applyForm" value="apply" class="btn btn-primary btn-apply submittheform">{{ Lang['applica']|capitalize }}</button>
					{% endif %}
				</div>
				<div class="col-md-6 col-xs-12 row-back">		
					<a href="{{ URLSITE }}{{ CoreRequest.action }}/listItem" title="{{ Lang['torna alla %ITEM%']|replace({'%ITEM%': Lang['lista']})|capitalize }}" class="btn btn-success btn-back">{{ Lang['indietro']|capitalize }}</a>
				</div>
			</div>	
		</form>
	</div>
</div>