<!-- ecommerce/core/login.html v.1.0.0. 17/03/2021  -->
<div class="col-lg-6 offset-lg-3">
	<form class="form-signin" role="form" action="{{ URLSITE }}login" method="post">
		<fieldset>
			<div class="form-group">
			<input 
				required="required" 
				type="text" 
				name="username" 
				id="usernameID" 
				class="form-control" 
				placeholder="{{ LocalStrings['nome utente']|capitalize }}" 
				{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({ '%ITEM%' : LocalStrings['nome utente'] }) %}
				oninvalid="this.setCustomValidity('{{ label }}')" 
				oninput="setCustomValidity('')" 
				autofocus
				>
			</div>
			<div class="form-group">
				<input 
					required="required" 
					type="password" 
					name="password" 
					id="passwordID" 
					class="form-control" 
					placeholder="{{ LocalStrings['password']|capitalize }}" 
					value="" 
					{% set label = LocalStrings['Devi inserire una %ITEM%!']|replace({ '%ITEM%' : LocalStrings['password'] }) %}
					oninvalid="this.setCustomValidity('{{ label }}')" 
					oninput="setCustomValidity('')"
					>
			</div>
			
			<!-- Change this to a button or input when using this as a form -->
			<input type="hidden" name="method" value="check" />

			<input type="hidden" name="csrftoken" value="{{ Session['csrftoken'] }}">

			<input type="submit" name="submit" value="{{ LocalStrings['login']|capitalize }}" class="btn btn-lg btn-success btn-block">
		</fieldset>
	</form>					
<hr>
</div>
<div class="text-center">
	<a href="{{ URLSITE }}nousername" title="{{ LocalStrings['clicca per recuperare il nome utente']|capitalize }}">{{ LocalStrings['nome utente']|capitalize }}</a> o <a href="{{ URLSITE }}nopassword" title="{{ LocalStrings['clicca per recuperare la password']|capitalize }}">{{ LocalStrings['password']|capitalize }}</a> {{ LocalStrings['dimenticati'] }}
</div>