<!-- wscms/core/nopasssword.html v.1.0.0. 15/02/2020 -->
<div class="row">
	<div class="col-md-8 offset-md-2">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ LocalStrings['titolo sezione richiesta password'] }}</h3>
			</div>
			<div class="panel-body">
				<form class="form-signin" role="form" action="{{ URLSITE }}nopassword" method="post">
					<fieldset>
						<div class="form-group">
							<input 
								required class="form-control" 
								placeholder="{{ LocalStrings['nome utente']|capitalize }}" 
								name="username" 
								type="text" 
								{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({ '%ITEM%' : LocalStrings['nome utente'] }) %}
								oninvalid="this.setCustomValidity('{{ label }}')" 
								oninput="setCustomValidity('')" 
								autofocus
								>
						</div>
						<!-- Change this to a button or input when using this as a form -->
						<input type="hidden" name="csrftoken" value="{{ Session['csrftoken'] }}">

						<input type="hidden" name="method" value="check" />
						<input type="submit" name="submit" value="{{ LocalStrings['invia']|capitalize }} {{ LocalStrings['email']|capitalize }}" class="btn btn-lg btn-success btn-block">
					</fieldset>
				</form>
				
				
			</div>
			<div class="panel-footer">
					<p>{{ LocalStrings['testo intro sezione richiesta password'] }}</p>  
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				{{ App.returnlink }}
			</div>			
		</div>
	</div>
</div>
