<!-- wscms/core/password.html v.3.5.4. 22/10/2019 -->
<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#datibase-tab" data-toggle="tab">{{ Lang['dati base']|capitalize }} <i class="fa"></i></a></li>
  		</ul>
		<form id="applicationForm" action="{{ URLSITEADMIN }}password"  enctype="multipart/form-data" method="post">
			<div class="tab-content">
<!-- sezione dati base --> 	
				<div class="tab-pane active" id="datibase-tab">	
					<div class="form-group row">
						<label for="nameID" class="col-md-3 col-form-label">{{ Lang['nome utente']|capitalize }}</label>
						<div class="col-md-5">
							<input type="text" name="username" class="form-control" id="usernameID" placeholder="{{ Lang['inserisci un nome utente']|capitalize }}" value="{{ App.item.username|e('html') }}" readonly>
				    	</div>
					</div>			
					<div class="form-group row">
						<label for="passwordID" class="col-md-3 col-form-label">{{ Lang['password']|capitalize }}</label>
						<div class="col-md-3">
							<input required="required" type="password" name="password" id="passwordID" value="" class="form-control" placeholder="{{ Lang['inserisci una %ITEM%']|replace({'%ITEM%': Lang['password']})|capitalize }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire una %ITEM%!']|replace({'%ITEM%': Lang['password']}) }}')" oninput="setCustomValidity('')">
			    		</div>
					</div>				
					<div class="form-group row">
						<label for="passwordCKID" class="col-md-3 col-form-label">{{ Lang['password di controllo']|capitalize }}</label>
						<div class="col-md-3">
							<input required="required" type="password" name="passwordCK" id="passwordCKID" value="" class="form-control" placeholder="{{ Lang['inserisci una %ITEM%']|replace({'%ITEM%': Lang['password di controllo']})|capitalize }}" oninvalid="this.setCustomValidity('{{ Lang['Devi inserire una %ITEM%!']|replace({'%ITEM%': Lang['password di controllo']}) }}')" oninput="setCustomValidity('')">
			    		</div>
					</div>
				</div>
<!-- sezione dati base -->					
			</div>
<!--/Tab panes -->			
		  <div class="form-group row mt-5">
		    <div class="col-md-12 text-center">
		    	<input type="hidden" name="id" value="{{ App.id }}">
		    	<input type="hidden" name="method" value="update">
		      <button type="submit" class="btn btn-primary submittheform">{{ Lang['invia']|capitalize }}</button>
		    </div>
		  </div>
		</form>
	</div>
</div>