<!-- admin/core/password.html v.7.0.0. 04/02/2022 -->
<div class="card shadow mt-3 mb-4">
	<div class="card-body">

		<ul class="nav nav-tabs" id="formTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" data-toggle="tab" role="tab" aria-controls="datibase" aria-selected="true">{{ LocalStrings['dati base']|capitalize }}</a>
			</li>
  		</ul>

		<form id="applicationForm" action="{{ URLSITE }}password"  enctype="multipart/form-data" method="post" autocomplete="new-password">
			
			<div class="tab-content" id="formTabContent">	
			
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase-tab">

					<div class="form-group row">
						<label for="usernameID" class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label col-form-label-sm">
							{{ LocalStrings['nome utente']|capitalize }}</label>
						<div class="ol-sm-12 col-md-12 col-lg-4 col-xl-4">
							<input 
							type="text" 
							name="username" 
							class="form-control form-control-sm" 
							id="usernameID" 
							placeholder="{{ LocalStrings['inserisci un nome utente']|capitalize }}" 
							value="{{ App.item.username|e('html') }}" 
							readonly
							>
				    	</div>
					</div>			

					<!-- password -->
					<div class="form-group row">
						{% set fieldName = "password" %}
						{% set fieldMaxchar = DatabaseTablesFields[App.fieldsName][fieldName]['type']|split('|') %}
						{% set fieldMaxchar = fieldMaxchar[1] %}
						{% set fieldMaxcharRemain = fieldMaxchar - fieldValue|length %}
						<label for="{{ fieldName }}ID" class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label col-form-label-sm">
							{% if DatabaseTablesFields[App.fieldsName][fieldName]['required'] == true %}
							<span class="required-sign">*</span>
							{% endif %}		
							{{ DatabaseTablesFields[App.fieldsName][fieldName]['label']|capitalize }}
						</label>
						<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
							<input 
							class="form-control form-control-sm" 
							type="password" 
							name="{{ fieldName }}" 
							id="{{ fieldName }}ID" 
							value="" 
							placeholder="{{ LocalStrings['inserisci un %ITEM%']|replace({ '%ITEM%': DatabaseTablesFields[App.fieldsName][fieldName]['label'] })|capitalize }}"
							{% if DatabaseTablesFields[App.fieldsName][fieldName]['required'] == true %} required="required"{% endif %}
							{% set label = LocalStrings['Devi inserire un %ITEM%!']|replace({'%ITEM%': DatabaseTablesFields[App.fieldsName][fieldName]['label'] })  %}
							oninvalid="this.setCustomValidity('{{ label }}')" 
							oninput="setCustomValidity('')"
							data-errormessage = "{{ DatabaseTablesFields[App.fieldsName][fieldName]['error message'] }}"							
							data-errorvalidationmessage = "{{ DatabaseTablesFields[App.fieldsName][fieldName]['error validation message'] }}"							
							>
						</div>
					</div>
					<!-- passwordIndice -->	

					<div class="form-group row">
						<label for="passwordCKID" class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-form-label col-form-label-sm">
							<span class="required-sign">*</span>
							{{ LocalStrings['password di controllo']|capitalize }}
						</label>
						<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
							<input 
							required="required" 
							type="password" 
							name="passwordCK" 
							id="passwordCKID" 
							value="" 
							class="form-control form-control-sm" 
							placeholder="{{ LocalStrings['inserisci una %ITEM%']|replace({'%ITEM%': LocalStrings['password di controllo']})|capitalize }}" 
							{% set label = LocalStrings['Devi inserire una %ITEM%!']|replace({'%ITEM%': LocalStrings['password di controllo']}) %} 
							oninvalid="this.setCustomValidity('{{ label }}')" 
							oninput="setCustomValidity('')">
						
			    	</div>
					</div>

				</div>
<!-- sezione dati base -->					
			</div>
<!--/Tab panes -->			
		  <div class="form-group row mt-5">
		    <div class="col-md-12 text-center">
					
					<input type="hidden" name="csrftoken" value="{{ Session['csrftoken'] }}">

		    	<input type="hidden" name="id" value="{{ App.id }}">
		    	<input type="hidden" name="method" value="update">
		      <button type="submit" class="btn btn-primary submittheform">{{ LocalStrings['invia']|capitalize }}</button>
		    </div>
		  </div>
		</form>
	</div>
</div>