<!-- admin/core/profile.html v.7.0.0. 10/02/2022 -->

<div class="card shadow mt-3 mb-4">
	<div class="card-body">

		<ul class="nav nav-tabs" id="formTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="#datibase" id="datibase-tab" data-toggle="tab" role="tab" aria-controls="datibase" aria-selected="true">{{ LocalStrings['dati base']|capitalize }}</a>
			</li>
  		</ul>

		<form id="applicationForm" action="{{ URLSITE }}{{ CoreRequest.action }}/update"  enctype="multipart/form-data" method="post">
			
			{% set fieldsDetails = App.params.fields[App.fieldsName] %}
			
			<div class="tab-content" id="formTabContent">	
				<!-- sezione dati base -->	
				<div class="tab-pane fade show active" id="datibase" role="tabpanel" aria-labelledby="datibase-tab">
					<fieldset>
						
						<!--- nome e cognome -->
						<div class="form-group row">

							{% set fieldName = "name" %}
							{% set classLabel = 'col-sm-12 col-md-3 col-lg-2 col-xl-2 col-form-label-sm' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}

							{% set fieldName = "surname" %}
							{% set classLabel = 'col-sm-12 col-md-3 col-lg-2 col-xl-2 col-form-label-sm responsive-text-right' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}

						</div>
						<!--- nome e cognome -->

						<hr>

						<!--- location_nations_id -->
						<div class="form-group row">

							{% set fieldName = "location_nations_id" %}
							{% set fieldsArray = DatabaseTablesFields[App.fieldsName][fieldName] %}
							{% set fieldValue =  attribute(App.item, fieldName) %}
							<label for="{{ fieldName }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm">
								{% if fieldsArray['required'] == true %}
									<span class="required-sign">*</span>
								{% endif %}		
								{{ fieldsArray['label']|capitalize }}
							</label>
							<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
								<select 
								name="{{ fieldName }}" 
								id="{{ fieldName }}ID" 
								class="form-control form-control-sm selectpicker selectpicker-nations" 
								data-live-search="true" 
								title="{{ LocalStrings['seleziona una %ITEM%']|replace({'%ITEM%': fieldsArray['label'] })|capitalize }}"
								>
															
									{% if App.nations is iterable %}
										{% for key,value in App.nations %}
											{% set field = "title_#{LocalStrings['user']}" %}
											<option value="{{ value.id }}"{% if value.id == fieldValue %} selected{% endif %}>{{ attribute(value, field)|e('html') }}</option>	
										{% endfor %}							
									{% endif %}													
								</select>	
							</div>
						</div>
						<!--- location_nations_id -->

						<!--- province -->
						<div class="form-group row">
							{% set fieldName = "location_province_id" %}
							{% set fieldsArray = DatabaseTablesFields[App.fieldsName][fieldName] %}
							{% set fieldValue =  attribute(App.item, fieldName) %}
							<label id="label{{ fieldName }}ID" for="{{ fieldName }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm">
								{% if fieldsArray['required'] == true %}
									<span class="required-sign">*</span>
								{% endif %}		
								{{ fieldsArray['label']|capitalize }}
							</label>
							<div id="divfield{{ fieldName }}ID" class="col-sm-12 col-md-12 col-lg-4 col-xl-4"> 
								<select 
								name="{{ fieldName }}" 
								id="{{ fieldName }}ID" 
								class="form-control form-control-sm selectpicker selectpicker-province" 
								data-live-search="true" 
								title="{{ LocalStrings['seleziona una %ITEM%']|replace({'%ITEM%': fieldsArray['label'] })|capitalize }}"
								>
									<option value="0"{% if 0 == fieldValue %} selected="selected"{% endif %}>{{  DatabaseTablesFields[App.fieldsName]['provincia_alt']['label']|capitalize }}</option>	
									{% if App.province is iterable %}
										{% for key,value in App.province %}	
											<option value="{{ value.id }}"{% if value.id == fieldValue %} selected="selected"{% endif %}>{{ value.nome|e('html') }}</option>	
										{% endfor %}							
									{% endif %}													
								</select>	
							</div>
					
							{% set fieldName = "provincia_alt" %}
							{% set classLabel = 'col-sm-12 col-md-3 col-lg-2 col-xl-2 col-form-label-sm responsive-text-right' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}

						</div>
						<!--- province -->

						<!--- comuni -->
						<div class="form-group row">

							{% set fieldName = "location_comuni_id" %}
							{% set fieldsArray = DatabaseTablesFields[App.fieldsName][fieldName] %}
							{% set fieldValue =  attribute(App.item, fieldName) %}

							<label id="label{{ fieldName }}ID" for="{{ fieldName }}ID" class="col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm">
								{% if fieldsArray['required'] == true %}
									<span class="required-sign">*</span>
								{% endif %}		
								{{ fieldsArray['label']|capitalize }}
							</label>
							<div id="divfieldlocation_comuni_idID" class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
								<select 
								id="{{ fieldName }}ID" 
								name="{{ fieldName }}"
								class="selectpicker with-ajax form-control form-control form-control-sm selectpicker-comuni" 
								data-live-search="true" 
								{% set title = LocalStrings['seleziona un %ITEM%']|replace({ '%ITEM%' : fieldsArray['label'] })|capitalize %}
								>
								<option value="{{ App.selected.location_comuni_id }}" data-subtext="" selected>{{ App.selected.location_comuni_nome }}</option>
								</select>		
							</div>

							{% set fieldName = "comune_alt" %}
							{% set classLabel = 'comune_alt_str col-sm-12 col-md-3 col-lg-2 col-xl-2 col-form-label-sm responsive-text-right' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'comune_alt_str form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
		
						</div>
						<!--- comuni -->

						<!-- street -->
						<div class="form-group row">
							{% set fieldName = "street" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-9 col-xl-9' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
						</div>
						<!-- street -->

						<!-- zip_code -->
						<div class="form-group row">
							{% set fieldName = "zip_code" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-2 col-xl-2' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
						</div>
						<!-- zip_code -->

						<hr>

						<!-- email -->
						<div class="form-group row">
							{% set fieldName = "email" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-9 col-xl-9' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputEmailField.inc.html') }}
						
						</div>
						<!-- email -->
						
						<!-- telefono e mobile -->
						<div class="form-group row">

							<!-- telephone -->
							{% set fieldName = "telephone" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
							<!-- telephone -->

							<!-- mobile -->
							{% set fieldName = "mobile" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm responsive-text-right' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
							<!-- mobile -->

						</div>
						<!-- telefono e mobile -->

						<!-- fax e skype -->
						<div class="form-group row">

							<!-- fax -->
							{% set fieldName = "fax" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
							<!-- fax -->

							<!-- skype -->
							{% set fieldName = "skype" %}
							{% set classLabel = 'col-sm-12 col-md-12 col-lg-2 col-xl-2 col-form-label-sm responsive-text-right' %}
							{% set classFieldContainer = 'col-sm-12 col-md-12 col-lg-4 col-xl-4' %}
							{% set classField = 'form-control form-control-sm checknumchars' %}
							{{ include('struttura-form/createInputTextField.inc.html') }}
							<!-- skype -->

						</div>
						<!-- fax e skype -->

						<hr>
						<div class="form-group row">
							<label for="avatarID" class="col-md-2 col-form-label-sm">{{ LocalStrings['avatar']|capitalize }}</label>
							<div class="col-md-6">	
							
								<div class="custom-file custom-file-sm">
  									<input type="file" name="avatar" class="custom-file-input custom-file-input-sm" id="avatarID">
  									<label class="custom-file-label" for="customFile">{{ LocalStrings['scegli file']|capitalize }}</label>
								</div>			
					
					    	</div>
					    	<div class="col-md-2">
					    		{% if App.item.avatar is defined and App.item.avatar != '' %}								
									<img class="img-miniature" src="{{ URLSITE }}ajax/generals/renderavataruserfromdb.php?id={{ App.id }}" alt="{{ App.item.name }} avatar">					
				            {% endif %}				
					    	</div>
						</div>

						<hr>

						<div class="form-group row">
							<label for="languageID" class="col-sm-12 col-md-3 col-lg-2 col-xl-2 col-form-label-sm">{{ LocalStrings['lingua']|capitalize }}</label>
							<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
								{% if GlobalSettings['languages'] is iterable and GlobalSettings['languages']|length > 0 %}
									<select id="languageID" name="language" class="custom-select custom-select-sm">	
										{% for value in GlobalSettings['languages'] %}
											<option value="{{ value }}"{% if App.item.language == value %} selected="selected"{% endif %}>{{ LocalStrings['lista lingue'][value]|e('html') }}</option>								
										{% endfor %}
									</select>
								{% endif %}				
							</div>
					
							<label for="templateID" class="col-sm-12 col-md-3 col-lg-2 col-xl-2 col-form-label-sm responsive-text-right">{{ LocalStrings['template']|capitalize }}</label>
							<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
								{% if App.templatesAvaiable is iterable and App.templatesAvaiable|length > 0 %}
								<select name="template" class="custom-select  custom-select-sm">
									{% for key,value in App.templatesAvaiable %}
										<option value="{{ value }}"{% if App.item.template is defined and App.item.template == value %} selected="selected"{% endif %}>{{ value|e('html') }}</option>
									{% endfor %}
								</select>
								{% endif %}				
					    	</div>
						</div>	
					</fieldset>
				</div>
				<!-- sezione dati base -->					
			</div>
<!--/Tab panes -->			
			<hr>
			<div class="form-group row mt-5">
				<div class="col-md-12 text-center">

					<input type="hidden" name="csrftoken" value="{{ Session['csrftoken'] }}">

					<input type="hidden" name="id" id="idID" value="{{ App.id }}">
					<input type="hidden" name="method" value="update">
					<button data-color="red" data-style="expand-left" id="applyFormID" type="submit" name="applyForm" value="apply" class="btn btn-primary submittheform">{{ LocalStrings['applica']|capitalize }}</button>
				</div>
			</div>
		</form>

	</div>
</div>