<!-- 	app/home/list.html v.1.3.0. 16/09/2020 -->

<div class="row">
	<div class="col-lg-4 new">
		{{ LocalStrings['ultimo accesso']|capitalize }}: {{ App.lastLoginLang }}
 	</div>
	<div class="col-md-7 help-small-list">
		{% if App.params.help_small is defined %}{{ App.params.help_small }}{% endif %} 
	</div>
	<div class="col-md-1">
	</div>
</div>
<hr class="divider-top-module">
<div class="row">
	{% if App.homeBlocks is iterable %}
		{% for key,value in App.homeBlocks %}
			{% if value['items'] > 0 %}
			
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-{{ value['class'] }} shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-{{ value['class'] }} text-uppercase mb-1">
										{{ value['sex suffix'] }} {{ value['label'] }}
									</div>
	                      			<div class="h5 mb-0 font-weight-bold text-gray-800">
										  {{ value['items'] }}
									</div>
								</div>
								<div class="col-auto">
									  <i class="{{ value['icon panel'] }} fa-2x text-gray-300"></i>
	                    		</div>
	                		</div>
						</div>
					</div>
				</div>
				
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% if App.invoices_bilancio_fiscale_12 is defined %}

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
 				<i class="fa fa-bar-chart-o fa-fw"></i> {{ LocalStrings['bilancio ultimi 12 mesi']|title }}
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div id="invoices-bilancio-fiscale-12-chart"></div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
</div>

{% endif %}

{% if App.ricaviannoprecedentechartsdata is defined  or App.ricaviannocorrentechartsdata is defined %} 
	<div class="row">

	{% if App.ricaviannoprecedentechartsdata is defined %}
	
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
 				<i class="fa fa-bar-chart-o fa-fw"></i> {{ LocalStrings['fiscale anno']|title }} {{ App.annoprecedente }}
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div id="invoices-fiscale-anno-precedente-chart"></div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	
	
	{% endif %}
	
	{% if App.ricaviannocorrentechartsdata is defined %}
	
	<div class="col-lg-6">
		<div class="panel panel-default">
			<div class="panel-heading">
 				<i class="fa fa-bar-chart-o fa-fw"></i> {{ LocalStrings['fiscale anno']|title }} {{ App.annocorrente }}
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<div id="invoices-fiscale-anno-corrente-chart"></div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	
	
	{% endif %}
	</div>
{% endif %}

<div class="row">
	{% if App.homeTables is iterable %}
		{% for key,value in App.homeTables %}
			{% if value['itemdata'] is iterable and value['itemdata']|length > 0 %}
			
			<div class="col-lg-6">
					<div class="card mb-4">
						<div class="card-header">
							<i class="{{ value['icon panel'] }}"></i>&nbsp;&nbsp;{{ value['label'] }}                           
						</div>		
						<!-- /.panel-heading -->
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-striped table-sm listDataHome" style="font-size:small">
											<thead>
												<tr>
													<th><small>Data<small></th>
													<th><small>ID</small></th>
													{% if value['fields'] is iterable %}
														{% for keyF,valueF in value['fields'] %}
															<th>
																{{ valueF['label'] }}
															</th>												
														{% endfor %}
													{% endif %}		
												</tr>
											</thead>
											<tbody>
												{% if value['itemdata'] is iterable %}
													{% for keyItemData,valueItemData in value['itemdata'] %}
														<tr>
															<td class="data" style="width:60px;">
																{{ valueItemData.datacreated|raw }}
															</td>
															<td class="id" style="width:40px;">
																{{ valueItemData.id }}
															</td>
															{% if value['fields'] is iterable %}
																{% for keyF,valueF in value['fields'] %}
																	<td class="{{ valueF['class'] }}">
																		{% set method %}{{ keyF }}{% endset %}
																		{{ attribute(valueItemData, method)|raw }}
																	</td>
																{% endfor %}
															{% endif %}														
														</tr>
													{% endfor %}
												{% endif %}				
											</tbody>										
										</table>
									</div>
									<!-- /.table-responsive -->
								</div>
							</div>
							<!-- /.row -->
						</div>
						<!-- /.card-body -->			
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>